# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Testes
.pytest_cache/
.coverage
htmlcov/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/

# Environment
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
